<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="EmpresaXYZEntities" connectionString="metadata=res://*/Data.EDMEmpresaXYZ.csdl|res://*/Data.EDMEmpresaXYZ.ssdl|res://*/Data.EDMEmpresaXYZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EmpresaXYZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>